html {
  font-family: "Noto Serif", serif;
  background-color: #fff;
}

fieldset {
  display: inline-block;
  border: 0;
}

.green {
  background-color: #70ad55;
  color: #fff;
}

form {
  background-color: #fff;
}

hr {
  border-color: #70ad55;
}

.button {
  background-color: #6e8c62;
  border-color: #6e8c62;
  color: #fff;
}

.align {
  text-align: center;
  color: #fff;
}

.greentext {
  color: #70ad55;
}

input,
select {
  border-color: #6e8c62;
}

@media only screen and (min-width: 38em) {

  .space-right {
    padding-right: 3rem;
  }

  .space-left {
    padding-left: .3rem;
  }

}
