html {
  font-family: "Noto Serif", serif;
  background-color: #fff;
}

fieldset {
  display: inline-block;
}

header {
  background-color: #70ad55;
  color: #fff;
}

form {
  background-color: #fff;
}

.button {
  background-color: #6e8c62;
  border-color: #70ad55;
  color: #fff;
}

.align {
  text-align: center;
  color: #fff;
}

.green {
  border-color: #70ad55;
  color: #70ad55;
}

.no-border {
  border-top: 2px solid #fff;
}

.foradress {
  border-top: 1px solid #6e8c62;
}

input,
select {
  border-color: #6e8c62;
}

@media only screen and (min-width: 60em) {

  .space-right {
    padding-right: 5rem;
  }

  .space-left {
    padding-left: .5rem;
  }

}
